<!-- <p>barra-lateral works!</p> -->

<!-- Implementamos la estructura del side -->
<div class="container">
    <!-- Declaramos un titulo -->
    <div class="row">
        <P class="text-center m-5">
            HERRAMIENTAS DE UN DESARROLLADOR FRONT-END:
        </P>
    </div>
    <!-- Desarrollamos los botones -->
    <div class="row m-5">
        <div class="col">
            <button class="btn btn-primary" (click)="bt()">
                BOOTSTRAP
            </button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
            <button class="btn btn-success" (click)="nj()">
                NODE JS
            </button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
            <button class="btn btn-danger" (click)="ag()">
                ANGULAR
            </button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
            <button class="btn btn-dark" (click)="gh()">
                GITHUB
            </button>
        </div>
    </div>
</div>